@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Shrikhand&display=swap');




.contact-container {
     width: 50%;
     margin: auto;
     font-family: Arial, sans-serif;
     color: #333;
     text-align: center;
}
     
.contact-title {
     font-size: 28px;
     font-weight: 800;
     margin-bottom: 10px;
     text-align: left;
}
     
.contact-subtitle {
     font-size: 14px;
     color: #777;
     margin-bottom: 20px;
     text-align: left;
}
     
.contact-form {
     display: flex;
     flex-direction: column;
     align-items: center;
}
     
.contact-form label {
     width: 100%;
     text-align: left;
     font-size: 14px;
     margin-bottom: 5px;
     font-weight: bold;
}
     
.contact-form input,
.contact-form textarea {
     width: 100%;
     padding: 10px;
     margin-bottom: 15px;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 16px;
}
     
.contact-form textarea {
     height: 100px;
     resize: none;
}
     
.contact-form button {
     width: 100%;
     padding: 12px;
     background-color: #ff6f61;
     color: white;
     font-size: 16px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
}
     
.contact-form button:hover {
     background-color: #e65c50;
}
     
   
@media screen and (max-width: 768px) {
     .contact-container {
          width: 90%;
     }
     
     .contact-title {
          font-size: 24px;
     }
     
     .contact-form input,
     .contact-form textarea {
          font-size: 14px;
     }
     
     .contact-form button {
          font-size: 14px;
     }
}